<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>admin user group</title>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>

<script src="/layui/layui.js"></script>
<script>
    layui.use(['form','table'], function() {
        var $ = layui.jquery;
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    })

</script>
</body>
</html>