<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加产品信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">

    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <style>
        #add-product-select{
            display: none;
            margin: 0 auto;
            padding: 20px;
        }
        .product{
            width: 180px;
            height: 30px;
        }
        .subit-product{
            text-align: right;
        }
    </style>
</head>
<body>
    <table id="product" lay-filter="product"></table>
    <script type="text/html" id="productToolbar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
            <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
        </div>
    </script>
    <script src="/layui/layui.js"></script>
    <script>
        function    addSelect(type){
            var p_from  = document.getElementById("product-from");
            var o_select= document.createElement("select");
            o_select.setAttribute("class","product");
            o_select.setAttribute("onchange","selectChange(this)");
            if(type==="line"){
                o_select.setAttribute("id","line-select");
                o_select.setAttribute("name","product-line");
                p_from.insertBefore(o_select,document.getElementById("sw-line"));
            }
            if(type==="class"){
                o_select.setAttribute("id","class-select");
                o_select.setAttribute("name","product-class");
                p_from.insertBefore(o_select,document.getElementById("sw-class"));
            }
        }
        function    addOption(id,val,text){
            var s_obj   = document.getElementById(id);
            var o_obj   = document.createElement("option");
            if(val===undefined){
                o_obj.setAttribute("disabled",undefined);
                o_obj.setAttribute("selected",undefined);
            }
            o_obj.setAttribute("value",val);
            o_obj.innerText = text;
            s_obj.appendChild(o_obj);
        }
        //添加input
        function    addInput(type){
            var p_from  = document.getElementById("product-from");
            var o_input = document.createElement("input");

            o_input.setAttribute("type","text");
            o_input.setAttribute("class","product");

            if(type==='line'){
                o_input.setAttribute("name","product-line");
                o_input.setAttribute("placeholder","请输入产品线名称");
                o_input.setAttribute("id","line-input");
                p_from.insertBefore(o_input,document.getElementById("sw-line"));
            }
            if(type==='class'){
                o_input.setAttribute("name","product-class");
                o_input.setAttribute("placeholder","请输入产品大类");
                o_input.setAttribute("id","class-input");
                p_from.insertBefore(o_input,document.getElementById("sw-class"));
            }
        }
        //删除元素
        function    removeDom(id){
            document.getElementById(id).remove();
        }



        layui.use(['form','table','layer'], function(){
            var form = layui.form,
                table = layui.table,
                layer   = layui.layer,
                $=layui.$;
            var token	= $("meta[name='_csrf']").attr("content");
            var	header	= $("meta[name='_csrf_header']").attr("content");

            table.render({
                elem: '#product'
                , url: '/admin/product_list'
                , title: '产品列表'
                ,toolbar: '#productToolbar'
                , totalRow: true
                , cols: [
                    [
                        { type: 'checkbox', fixed: 'left' }
                        , { field: 'PLNAME', title: '产品线', width: 250, edit: 'text' }
                        , { field: 'PCNAME', title: '产品系列', width: 250, edit: 'text' }
                        , { field: 'NAME', title: '产品', width: 250, edit: 'text' }
                    ]
                ]
                , page: true
            });

            table.on('toolbar(product)', function(obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'add':
                        layer.open({
                            type: 1
                            ,title:'添加产品'
                            ,id:'add'
                            ,offset: 'auto'
                            ,content: $('#add-product-select')
                            ,shade: 0 //不显示遮罩
                            ,area: ['716px', '154px']
                            ,yes: function(){
                                layer.closeAll();
                            }
                        });
                        up_from();
                        break;
                    case 'delete':
                        layer.msg('删除');
                        break;
                }
                ;
            });
            var     product_data    = undefined;
            var     from_unlock     = true;
            function    up_from(val){
                if(product_data===undefined){
                    $.ajax(
                        {
                            url:'/test',
                            type:'get',
                            success:function (data) {
                                if(data.code==0){
                                    product_data    = data;
                                    up_from();
                                }
                                else {
                                    addInput("line");
                                    addInput("class");
                                }
                            }
                        }
                    )
                }
                else if(!from_unlock){
                    return;
                }
                else{
                    var temp;
                    if(product_data.lines.length<=0){
                        addInput("line");
                        addInput("class");
                    }
                    else if(val!=undefined){
                        removeDom("class-select");
                        addSelect("class");
                        console.log('update from val');
                        for(i=0;i<product_data.class.length;i++){
                            temp = product_data.class[i];
                            if(temp.lineID===val)
                                addOption("class-select",temp.value,temp.text);
                        }
                    }
                    else {
                        addSelect("line");
                        addOption("line-select",undefined,"");
                        for(i=0;i<product_data.lines.length;i++){
                            temp = product_data.lines[i];
                            addOption("line-select",temp.value,temp.text);
                        }
                    }
                    if(product_data.class.length<=0){
                        addInput("class");
                    }
                    else {
                        addSelect("class");
                        addOption("class-select",undefined,"");
                        for(i=0;i<product_data.class.length;i++){
                            temp = product_data.class[i];
                            addOption("class-select",temp.value,temp.text);
                        }
                    }
                    from_unlock = false;
                }
            };
            function    selectChange(obj){
                var index = obj.selectedIndex;
                var val = obj.options[index].value;
                up_from(val);
                layer.msg('change '+val);
            }
            $("#sw-line").click(function (){
                layer.msg("sw-line");
            });
            $("#sw-class").click(function (){
                layer.msg("sw-class");
            });

        });
    </script>
</body>
<div id="add-product-select">
    <form id="product-from" action="">
        <button type="button" class="layui-btn layui-btn-sm" id="sw-line" style="height: 30px;line-height: 100%"><i class="layui-icon">&#xe654;</i></button>
        <button type="button" class="layui-btn layui-btn-sm" id="sw-class" style="height: 30px;line-height: 100%"><i class="layui-icon">&#xe654;</i></button>
        <input id="product-input" type="text" name="product-name" placeholder="请输入产品名称" class="product"></input>
        <div class="subit-product">
            <button type="submit" class="layui-btn">提交</button>
        </div>
    </form>
</div>
</html>