<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link th:if="${device}=='mobile'" rel="stylesheet" href="layui/css/layui.mobile.css" media="all">
	<link th:if="${device}=='comput'" rel="stylesheet" href="layui/css/layui.css" media="all">
</head>

<body>
	<div class="layui-carousel box-center" id="img-box">
		<div carousel-item="" id="img-show">
			<div th:each="ilist:${imageList}">
				<div style="text-align: center;">
					<div style="width: 100%; position: absolute;left: 0;top: 0;">		
						<img th:src="${ilist}" alt="" style="position: initial;filter: blur(5px);width: 100%;">
					</div>
					<img th:src="${ilist}" class="image-show" alt="" style="filter: blur(0px);">
				</div>
			</div>
		</div>
	</div>

	<script src="layui/layui.js"></script>
	<script>
		layui.use(['carousel', 'form'], function () {
			var carousel = layui.carousel, form = layui.form, $ = layui.jquery;
			$('#upfile').on("click", function () {
				upload('files');
			});
			$('#upimage').on("click", function () {
				upload('image');
			});
			$('.image-show').css("height",$(window).height() + 'px');
			carousel.render({
				elem: '#img-box'
				, width: $(window).width() + 'px'
				, height: $(window).height() + 'px'
				, interval: 2000
			});
		});
	</script>
</body>

</html>