<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link th:if="${device}=='mobile'" rel="stylesheet" href="layui/css/layui.mobile.css" media="all">
	<link th:if="${device}=='comput'" rel="stylesheet" href="layui/css/layui.css" media="all">
	<style>
		.image-show {
			filter: blur(0px);
		}
		#img-box{
			margin: 0 auto;
		}
		.layui-row{
			height: 48px;
			padding:2x;
		}
	</style>
</head>

<body>
	<div class="layui-row">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<ul class="layui-nav layui-layout-left">
					<li class="layui-nav-item"><a href="/">首页</a></li>
					<li class="layui-nav-item" th:if="${rid}=='admin'"><a href="/admin">管理</a></li>
					<li class="layui-nav-item"><a href="/upload?uploadtype=image">上传文件</a></li>
				</ul>
				<ul class="layui-nav layui-layout-right" th:if="${login}=='true'">
					<li class="layui-nav-item">
						<a href="/admin" th:text="${username}">
							<img src="http://t.cn/RCzsdCq" class="layui-nav-img">
						</a>
					</li>
					<li class="layui-nav-item"><a href="/logout">退出</a></li>
				</ul>
				<ul class="layui-nav layui-layout-right" th:if="${login}=='false'">
					<li class="layui-nav-item">
						<a href="/login">登录</a>
					</li>
					<li class="layui-nav-item"><a href="/registered">注册</a></li>
				</ul>
			</div>

<!--轮播-->
	<div class="layui-carousel box-center" id="img-box" th:if="${device}=='comput'">
		<div carousel-item="" id="img-show">
			<div th:each="ilist:${imageList}">
				<div style="text-align: center;">
					<div th:if="${device}=='comput'" style="width: 100%; position: absolute;left: 0;top: 0;">
						<img th:src="${ilist}" alt="" style="position: initial;filter: blur(5px);width: 100%;transform: scale(1.2)">
					</div>
					<img th:if="${device}=='comput'" th:src="${ilist}" class="image-show" alt="">
					<img th:if="${device}=='mobile'" th:src="${ilist}" width="100%" alt="">
				</div>
			</div>
		</div>
	</div>
	<div th:if="${device}=='comput'" id="comput"></div>
	<div th:if="${device}=='mobile'" id="mobile"></div>
		</div>
	</div>

	<script src="layui/layui.js"></script>
	<script>
		layui.use(['carousel', 'form','element'], function () {
			var carousel = layui.carousel, form = layui.form, $ = layui.jquery;
			var x=$(window).width(),
					y=$(window).height();
			if(document.getElementById("comput")!=null){
				x*=0.45;
				y*=0.45;
			}
			$('.image-show').css("height",y + 'px');
			carousel.render({
				elem: '#img-box'
				, width:  x + 'px'
				, height: y + 'px'
				, interval: 2000
			});
		});
	</script>

</body>

</html>