<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<title>upload</title>
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="/layui/css/layui.css" media="all">
	<style>
		body{
			padding: 5px;
		}
		#bt-select-file{
			float: right;
		}
		.layui-upload{
			text-align: center;
		}
	</style>
</head>

<body>
	<div th:switch="${uploadType}" class="layui-upload">
		<div th:case="'files'">
			<div class="layui-upload-list">
				<table class="layui-table">
					<thead>
						<tr>
							<th>文件名</th>
							<th>大小</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody id="demoList"></tbody>
				</table>
			</div>
			<button type="button" class="layui-btn" id="testListAction">开始上传</button>
			<button type="button" class="layui-btn layui-btn-normal" id="bt-select-file">选择多文件</button>
		</div>
		<div th:case="'image'" class="layui-upload-drag" id="upload-image">

			<i class="layui-icon show-hide"></i>
			<p class="show-hide">点击上传，或将图片拖拽到此处</p>
			<div class="layui-hide" id="uploadDemoView">
				<hr>
				<img src="" id="showImage" alt="图片加载失败">
			</div>
		</div>
		<div th:case="*">请求上传窗口异常</div>
	</div>
	<script src="/layui/layui.js"></script>

	<script th:if="${uploadType}=='image'">

		layui.use('upload', function () {
			var $ = layui.jquery
				, upload = layui.upload;

			var token	= $("meta[name='_csrf']").attr("content");
			var	header	= $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e,xhr,options){
				xhr.setRequestHeader(header,token);
			});
			var x=$(window).width(),y=$(window).height();
			//初始化上传框大小和高度
			$('#upload-image').css("width",x*0.6 + 'px');
			$('#upload-image').css("height",y*0.4 + 'px');
			$('#upload-image').css("top",y*0.25 + 'px');
			$('#upload-image i').css("line-height",y*0.4 + 'px');
			$('#upload-image p').css("margin-top",-(y*0.1)+ 'px');
			upload.render({
				elem: '#upload-image'
				,url: '/upload/save'
				, before: function (obj) {
					//预读本地文件示例，不支持ie8
					obj.preview(function (index, file, result) {
						var icons	= document.getElementsByClassName('show-hide');
						icons[0].style.display='none';
						icons[1].style.display='none';
						$('#showImage').attr('src', result); //图片链接（base64）
						$('#showImage').css('max-width', x*0.6 + 'px');
						$('#showImage').css('max-height', y*0.4 + 'px');
						$("#uploadDemoView").removeClass("layui-hide");
					});
				}
				,done: function(res){
					if(res.code==0){
						layer.msg("图片上传成功");
					}else {
						layer.msg(res.msg);
					}
					console.log(res);
				},
				error: function(){
					layer.msg("上传失败");
					setTimeout(document.location.reload,5000);
				}
			});
		})
	</script>
	<script th:if="${uploadType}=='files'">
		layui.use('upload', function () {
			var $ = layui.jquery
				, upload = layui.upload;

			var token	= $("meta[name='_csrf']").attr("content");
			var	header	= $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e,xhr,options){
				xhr.setRequestHeader(header,token);
			});
			//多文件列表示例
			var demoListView = $('#demoList')
				, uploadListIns = upload.render({
					elem: '#bt-select-file'
					, url: '/upload/save' //改成您自己的上传接口
					, accept: 'file'
					, multiple: true
					, auto: false
					, bindAction: '#testListAction'
					, choose: function (obj) {
						var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
						//读取本地文件
						obj.preview(function (index, file, result) {
							var tr = $(['<tr id="upload-' + index + '">'
								, '<td>' + file.name + '</td>'
								, '<td>' + (file.size / 1024).toFixed(1) + 'kb</td>'
								, '<td>等待上传</td>'
								, '<td>'
								, '<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
								, '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
								, '</td>'
								, '</tr>'].join(''));

							//单个重传
							tr.find('.demo-reload').on('click', function () {
								obj.upload(index, file);
							});

							//删除
							tr.find('.demo-delete').on('click', function () {
								delete files[index]; //删除对应的文件
								tr.remove();
								uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
							});

							demoListView.append(tr);
						});
					}
					, done: function (res, index, upload) {
						if (res.code==0) { //上传成功
							var tr = demoListView.find('tr#upload-' + index)
								, tds = tr.children();
							tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
							tds.eq(3).html(''); //清空操作
							return delete this.files[index]; //删除文件队列已经上传成功的文件
						}
						this.error(index, upload);
					}
					, error: function (index, upload) {
						var tr = demoListView.find('tr#upload-' + index)
							, tds = tr.children();
						tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
						tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
					}
				});
		})
	</script>
</body>

</html>