<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>文件上传</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>

<script src="/layui/layui.js"></script>
<button type="button" class="layui-btn" id="test1">上传图片</button>
<script>
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    })

</script>
</body>
</html>