<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.yukino.shpee.conf.Mapper">
    <select id="select" resultType="java.util.Map">
        <![CDATA[
	  		${value}
	  	]]>
    </select>
    <select id="lSelect" resultType="java.util.List">
        <![CDATA[
	  		${value}
	  	]]>
    </select>
    <insert id="insert">
        <![CDATA[
	  		${value}
	  	]]>
    </insert>
    <delete id="delete">
        <![CDATA[
	  		${value}
	  	]]>
    </delete>
    <update id="update">
        <![CDATA[
	  		${value}
	  	]]>
    </update>
</mapper>