<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.yukino.shpee.conf.Mapper">
    <cache/>
    <select id="select" resultType="java.util.Map">
        <![CDATA[
	  		${value}
	  	]]>
    </select>
    <insert id="insert">
        <![CDATA[
	  		${value}
	  	]]>
    </insert>
    <delete id="delete">
        <![CDATA[
	  		${value}
	  	]]>
    </delete>
    <update id="update">
        <![CDATA[
	  		${value}
	  	]]>
    </update>

    <!--Bean-->
    <select id="selectTUpload" resultType="top.yukino.shpee.bean.TUpload">
        SELECT UID,FILE_NAME,HASH,PATH,TYPE,SIZE,UPTIME
        FROM T_UPLOAD
        <where>
            <if test="UID!=null">
                UID=#{UID}
            </if>
            <if test="FILE_NAME!=null">
                FILE_NAME=#{FILE_NAME}
            </if>
            <if test="HASH!=null">
                HASH=#{HASH}
            </if>
            <if test="TYPE!=null">
                TYPE=#{TYPE}
            </if>
            <if test="ISDELETE!=null">
                ISDELETE=#{ISDELETE}
            </if>
            <if test="page!=null and limit!=null">
                limit #{page},#{limit}
            </if>
        </where>
    </select>
    <select id="selectTUser" resultType="top.yukino.shpee.bean.TUser">
        SELECT NAME,PASSWORD,UPTIME FROM T_USER
        <where>
            <if test="NAME!=null">
                NAME=#{NAME}
            </if>
        </where>
    </select>
    <select id="selectRole" resultType="string">
        SELECT r.ROLE FROM T_USER_ROLE ur,T_ROLE r WHERE ur.NAME=#{NAME} AND ur.RID=r.RID
    </select>
    <insert id="insertTUser" parameterType="top.yukino.shpee.bean.TUser">
        INSERT INTO T_USER(NAME,PASSWORD,UPTIME) VALUES (#{NAME},#{PASSWORD},#{UPTIME})
    </insert>
    <insert id="insertTUserRole">
        INSERT INTO T_USER_ROLE(NAME,RID) VALUES (#{NAME},#{ROLE})
    </insert>
    <insert id="insertTUpload" parameterType="top.yukino.shpee.bean.TUpload">
        INSERT INTO T_UPLOAD(UID,FILE_NAME,HASH,PATH,TYPE,SIZE,UPTIME,ISDELETE)
        VALUES (#{UID},#{FILENAME},#{HASH},#{PATH},#{TYPE},#{SIZE},#{UPTIME},#{ISDELETE})
    </insert>
</mapper>